<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title>Vue.js Getting started</title>
	<link rel="stylesheet" type="text/css" href="">
	<script src="https://npmcdn.com/vue/dist/vue.js"></script>
	<style type="text/css">
		.demo {
			background-color: gray;
			display: inline-block;
			height: 100px;
			margin: 10px;
			width: 100px;
		}
		.red {
			background: red;
		}

		.green { 
			background: green;
		 }

		 .blue {
		 	background: blue;
		 }

	</style>
</head>
<body>
	<div id="app">
		<div class="demo" :style="{backgroundColor : color}"></div>
		<div class="demo" :style="myStyle"></div>
		<input type="text" v-model="color">
		<input type="text" v-model="width">
	</div>

	<hr style="margin-top: 100px;">
	<footer>
	    <div style="text-align : center;">
	        Author : <a href="https://github.com/Seolhun">SeolHun </a>
	    </div>
	</footer>
	
</body>
<script>
	new Vue({
		el: '#app',
		data: {
			color : 'gray',
			width : 100,
		},
		computed: {
			myStyle: function() {
				return {
					backgroundColor: this.color,
					width: this.width + 'px'
				}
			}
		}
	});
</script>
</html>